<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<div layout:fragment="content" style="margin-left:25%;margin-right:25%">

    <input type="hidden" id="storeId" th:value="${store.id}">

	<div class="h1">업체 관리자 페이지</div>

    <div class="d-flex">
        <div class="repImgDiv">  	
		<img th:src="${store.storeImgDtoList[0].imgUrl}" th:alt="${store.storeName}">
        </div>
    </div>
    
    <div class="wd50">
			<div class="h3">업체명 : </div>
            <div class="h4" th:text="${store.storeName}"></div>
            <div class="h3">주소 :</div>
            <div class="h4" th:text="${store.storeAddr}"></div>
            <div class="h3">오픈시간 :</div>
            <div class="h4" th:text="${store.openTime}"></div>
            <div class="h3">최소주문금액 :</div>
            <div class="h4" th:text="${store.minAmount}"></div>
            <div class="h3">배달팁 :</div>
            <div class="h4" th:text="${store.deliveryTips}"></div>
            <div class="h3">무료배달금액 :</div>
            <div class="h4" th:text="${store.freeDelivery}"></div>
            <div class="h3">픽업시간 :</div>
            <div class="h4" th:text="${store.pickupTime}"></div>
            
            <button class="btn btn-primary"><a th:href="@{'/store/item/' + ${store.id} }" class="btn btn-primary" >상품 등록하기</a></button>
            <button class="btn btn-primary"><a th:href="@{'/store/fix/' + ${store.id} }" class="btn btn-primary" >업체정보 수정하기</a></button>
      </div>
    
    <input type="hidden" name="searchQuery" th:value="${storeItemSearchDto.searchQuery}">
    <div th:if="${not #strings.isEmpty(storeItemSearchDto.searchQuery)}" class="center">
        <p class="h3 font-weight-bold" th:text="${storeItemSearchDto.searchQuery} + '검색 결과'"></p>
    </div>
    
    <div class="row">
        <th:block th:each="storeItem, status: ${storeItems.getContent()}">
            <div class="col-md-4 margin">
                <div class="card">
                    <a th:href="'/item/' +${storeItem.id}" class="text-dark">
                        <img th:src="${storeItem.imgUrl}" class="card-img-top" th:alt="${storeItem.itemNm}" height="400">
                        <div class="card-body">
                            <h4 class="card-title">[[${storeItem.itemNm}]]</h4>
                            <p class="card-text">[[${storeItem.itemDetail}]]</p>
                            <h3 class="card-title text-danger">[[${storeItem.price}]]원</h3>
                        </div>
                    </a>
                </div>
            </div>
        </th:block>
    </div>
	
	<div th:with="start=${(storeItems.number/maxPage)*maxPage + 1}, end=(${(storeItems.totalPages == 0) ? 1 : (start + (maxPage - 1) < storeItems.totalPages ? start + (maxPage - 1) : storeItems.totalPages)})" >
        <ul class="pagination justify-content-center">

            <li class="page-item" th:classappend="${storeItems.number eq 0}?'disabled':''">
                <a th:href="@{'/store/'+ ${store.id} + '?searchQuery=' + ${storeItemSearchDto.searchQuery} + '&page=' + ${storeItems.number-1}}" aria-label='Previous' class="page-link">
                    <span aria-hidden='true'>Previous</span>
                </a>
            </li>

            <li class="page-item" th:each="page: ${#numbers.sequence(start, end)}" th:classappend="${storeItems.number eq page-1}?'active':''">
                <a th:href="@{'/store/'+ ${store.id} +'?searchQuery=' + ${storeItemSearchDto.searchQuery} + '&page=' + ${page-1}}" th:inline="text" class="page-link">[[${page}]]</a>
            </li>

            <li class="page-item" th:classappend="${storeItems.number+1 ge storeItems.totalPages}?'disabled':''">
                <a th:href="@{'/store/'+ ${store.id} +'?searchQuery=' + ${storeItemSearchDto.searchQuery} + '&page=' + ${storeItems.number+1}}" aria-label='Next' class="page-link">
                    <span aria-hidden='true'>Next</span>
                </a>
            </li>

        </ul>
    </div>

    

</div>

</html>